/* ---------- root variables ---------- */
:root {
  --green:#87b748;
  --light-blue: #dae2e7;
  --blue: #13323f;
  --dark-blue:#001d29;
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: 'Livvic', sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
  font-family: 'Libre Baskerville', serif;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: var(--blue);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
}

.topbar img {
  max-height: 70px;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: var(--light-blue);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-color-dark);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--blue);
  color: var(--text-color-light);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}