/* ---------- root variables ---------- */
:root {
  --green: #87b748;
  --light-blue: #dae2e7;
  --blue: #13323f;
  --dark-blue: #001d29;
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: 'Livvic', sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
  font-family: 'Libre Baskerville', serif;
}

h3 {
  font-size: 1.5em;
  font-family: 'Libre Baskerville', serif;
}




/* ---------- video styling ---------- */
.dasering {
  max-width: 100%;
  opacity: 60%;
}

.thailand {
  max-width: 100%;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: var(--blue);
  color: var(--text-color-light);
  padding: 13.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
}

.topbar img {
  max-height: 70px;
}


/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: var(--light-blue);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;

}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color-dark);
  width: 32.1%;
  height: 14%;
  padding-top: 2.5%;
  padding-bottom: 5%;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-top: groove 1px black;
}

.tabbar #stot {
  border-left: groove 1px black;
  border-right: groove 1px black;
}

/* Add a color to the active/current link */
.tabbar a.active {
  text-decoration: underline;

}

.menu-icon {
  max-height: 35px;
  padding-top: 2.5%;
  padding-bottom: 5%;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* ---------- front page styling ---------- */

.forsidebillede {
  width: 100%;
}

h2 {
  color: white;
}


.forsidep {
  color: white;
  line-height: 25px;
  padding-top: 45px;
}

.intro-text1 {
  background-color: var(--blue);
  text-align: center;
  color: white;
  margin-top: 5%;
  padding: 5px;
}

.intro-text {
  background-color: var(--blue);
  text-align: center;
  padding: 15px;
}

.intro-case {
  background-color: var(--blue);
  text-align: center;
  padding: 65px;
 
}

.intro-case button {
  background-color: var(--green);
  border: none;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5em;
  font-size: 1.5em;
  color: var(--text-color-light);
  position: absolute;
  left: 30%;
  margin: 0;
  
  
}

.intro-text button {
  background-color: var(--green);
  border: none;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5em;
  font-size: 1.5em;
  color: var(--text-color-light);
  position: absolute;
  left: 30%;
}


.dåseringsbaggrund {
  background-image: url(/img/dåseringebaggrund.png);
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadowbox-forside {
  justify-content: center;
  padding-top: 35%;
}

.shadow {
  background-color: white;
  opacity: 82%;
  margin: 7%;

}


.donationtext {
  font-size: 17px;
  text-shadow: 3px 3px 3px #A9A9A9;
  padding-bottom: 5%;
  padding-top: 5%;
  margin: 0;
}

.counter {
  font-size: 40px;
  text-shadow: 3px 3px 3px #A9A9A9;
  margin-top: 3%;

}


.casetext {
  overflow: hidden;
  text-align: center;
  color: black;
  padding-top: 15%;
  font-size: 31px;
  font-weight: 500;
}

.casetext:before,
.casetext:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;

}

.casetext:before {
  right: 0.5em;
  margin-left: -50%;
}

.casetext:after {
  left: 0.5em;
  margin-right: -50%;
}


.nyheder-box {
  background-color: var(--light-blue);
  padding: 20px;
}

.nyhedstekst {
  font-size: 30px;
}


/* ---------- wordpress posts styling ---------- */
.flex-box {
  display: grid;
  grid-template-columns: 45% 55%;
  margin-left: 4%;
  margin-right: 4%;

}

.divider {
  padding-bottom: 6%;
  border-bottom: groove 3px var(--text-color-light);
}

.divider h3 {
  margin: 0;
  padding-top: 3%;
  padding-bottom: 3%;
}

article img {
  width: 100%;
  height: auto;
}

article p {
  text-align: left;
  padding-left: 8%;
  margin: 0;
  font-size: 17px;
  
}

article {
  color: var(--text-color-light);
  padding-top: 2%;
  line-height: 25px;
}

.grid-container {
  background-color: var(--blue);


}

/* ------- History side -------- */

.voreshistorie {
  margin-bottom: 50px;
}

.voreshistorie h3,
h4 {
  margin: 40px;
}

.voreshistorie h3 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.voreshistorie button {
  background-color: var(--green);
  border: none;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5em;
  font-size: 1.5em;
  color: var(--text-color-light);
  margin-bottom: 20px;
}

.bestyrelse {
  width: 100%;
  margin-top: 45px;
}

.intro-historie {
  background-color: var(--blue);
}

.intro-historie p {
  color: var(--text-color-light);
  line-height: 25px;
}

.intro-text {
  color: var(--text-color-light);
  text-align: left;
  padding: 20px;
}

.intro-historie button {
  background-color: var(--green);
  border: none;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5em;
  font-size: 1.5em;
  color: var(--text-color-light);
  margin-bottom: 40px;
}

.historie-text {
  color: var(--text-color-dark);
  text-align: left;
  margin-bottom: 70px;
  margin: 8%;
}

.historie-sektion {
  margin-top: 50px;
}

.daaseringe-billede {
  margin-top: 20px;
}

.brugafpengene {
  margin: auto;
}

.citat {
  font-style: italic;
  font-size: 1.3em;
  margin-bottom: 1%;
}

.citat-text {
  color: var(--text-color-dark);
  margin-bottom: 50px;
}


footer {
  background-color: var(--light-blue);
  padding-bottom: 15%;
}

footer p {
  color: var(--text-color-dark);
  font-weight: bold;
}

.some {
  display: flex;
}

/*---- Støt siden -----*/



.indsamling {
  margin: 10%;
}

.indsamling img {
  margin: 10%;
}

.steps {
  background-color: var(--green);
  margin-right: 65%;
  margin-left: 5%;
  font-size: 1.5em;
  border-radius: 0.5em;
  padding: 2%;
  margin-bottom: 10%;
  color: var(--text-color-light);
}

.stepsene {
  margin-top: 30%;
}

.indsamling button {
  background-color: var(--green);
  border: none;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5em;
  font-size: 1.5em;
  color: var(--text-color-light);
  margin-bottom: 10%;
  margin-top: 10%;
}



/*---- slide container ---*/

.bidrag {
  background-image: url(/img/protese3.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow-background {
  justify-content: center;
  background-color: white;
  opacity: 90%;
  width: 100%;
}

.slidecontainer {
  width: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slidecontainer button {
  background-color: var(--green);
  border: none;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5em;
  margin-top: 5%;
  font-size: 1.5em;
  color: var(--text-color-light);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--green);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.bidrag p {
  color: var(--text-color-dark);
  background-color: #ffffff;
  border-radius: 1em;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 5%;
  padding: 3%;
  font-style: bold;
  font-weight: 500;
}

/*-----samkørselsordning-----*/

.samkørselsordning {
  margin: 10%;
}

.samkørselsordning button {
  background-color: var(--green);
  border: none;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5em;
  margin-top: 5%;
  font-size: 1.5em;
  color: var(--text-color-light);
}